@import '~ionicons/less/ionicons';

.cell {
    position  : absolute;
    font-size : 1rem;

    &::before {
        .ion();
        content: @ionicon-var-ios-circle-filled;
    }

    &.red {
        color: #AA0000;
    }
    &.green {
        color: #00AA00;
    }
    &.blue {
        color: #0000AA;
    }
}