@import "../../common.less";
@import '~ionicons/less/ionicons';

.board {
    position: relative;

    .button.badge {
        font-size: 28px;
        line-height: 50px;
        text-align: center;

        &::before {
            .ion();
        }
        &.play::before {
            content: @ionicon-var-play;
        }    
        &.pause::before {
            content: @ionicon-var-pause;
        }    
    }
}